font-face{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24pt;
    color: black;
}

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */


    color: #1A1E29;
}

h2{
    font-family: 'IBM Plex Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */


    color: #1A1E29;
}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */


    color: #1A1E29;
}

h4{
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    position: relative;
    width: 1280px;
    height: 4482px;
    left: 40px;
    background: #FFFFFF;

    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 72px;

    position: absolute;
    width: 1280px;
    height: 3784px;
    left: 0;
    top: 627px;
}

a{
    position: absolute;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* identical to box height, or 150% */

    text-decoration: none;
    color: #4C65BD;
}

a:hover{
    z-index: 404;
    text-decoration: none;
}

.u_solid{
    text-decoration: underline solid #ff7e00;
}

.u_dashed{
    color: #4C65BD;
    text-decoration: underline dashed #4C65BD;
}

/*Buttons 40*/
.white_btn_40{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    position: absolute;

    color: #ff7e00;
    background: #FFFFFF;
    border: 1px solid #EFD8C3;
    border-radius: 2px;
}

.white_btn_40:hover{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    position: absolute;

    color: white;
    background: #FF7E00;
    border: 1px solid #FF7E00;
    /* hover */

    box-shadow: 0 2px 4px rgba(172, 85, 0, 0.08), 0 8px 32px rgba(255, 126, 0, 0.16);
    border-radius: 2px;
}

.orange_btn_40{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    position: absolute;

    color: white;
    background: #FF7E00;
    border: 2px solid;
}

.orange_btn_40:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    position: absolute;

    background: #4C65BD;
    /* hover */

    box-shadow: 0 2px 4px rgba(172, 85, 0, 0.08), 0 8px 32px rgba(255, 126, 0, 0.16);
    border-radius: 2px;
}

/*Buttons 48*/
.orange_btn_48{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    position: absolute;

    color: white;
    background: #FF7E00;
    border: 2px solid;
}

.orange_btn_48:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    position: absolute;

    background: #4C65BD;
    /* hover */

    box-shadow: 0 2px 4px rgba(172, 85, 0, 0.08), 0 8px 32px rgba(255, 126, 0, 0.16);
    border-radius: 2px;
}

/*Dropdown*/
.dropdown{
    display: flex;
    align-items: center;
    box-sizing: border-box;

    position: absolute;

    border: 1px solid #E5E5E5;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../src/svg/normal.svg");
}

.dropdown:disabled{
    box-sizing: border-box;

    position: absolute;

    border: 1px solid #E5E5E5;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../src/svg/disable.svg");
}

.dropdown>span{
    padding-left: 5%;
}

/*Header*/
header{
    position: fixed;
    align-self: center;
    width: 1280px;
    height: 96px;

    z-index: 404;
}

.header_top{
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 16.67%;

    background: #1A1E29;
}

.header_bottom{
    position: absolute;
    left: 46.42%;
    right: 46.42%;
    top: 0;
    bottom: 0;

    background: #1A1E29;
    border-radius: 16px;
}

.logo{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 47.61%;
    right: 47.61%;
    top: 16.67%;
    bottom: 16.67%;

    background: url("../src/png/Logo.png") no-repeat center center;
}

.component1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    width: 129px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.component2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    width: 103px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.component3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    width: 129px;
    height: 80px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;

}

.component4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;

    position: absolute;
    left: 70.3%;
    right: 16.27%;
    top: 0;
    bottom: 16.67%;
}

.component4>nav>span{
    width: 128px;
    height: 24px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.imn_1{
    position: absolute;
    left: 64.33%;
    right: 29.7%;
    top: 0;
    bottom: 16.67%;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/Search.svg");
}

.imn_2{
    position: absolute;
    left: 83.73%;
    right: 10.3%;
    top: 0;
    bottom: 16.67%;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/Hearth.svg");
}

.imn_3{
    position: absolute;
    left: 89.7%;
    right: 4.33%;
    top: 0;
    bottom: 16.67%;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/basket.svg");
}

.left_menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    gap: 8px;

    position: absolute;
    left: 4.33%;
    right: 69.03%;
    top: 0;
    bottom: 16.67%;

}

.left_menu>div{
    justify-content: center;
}

.drop_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 4px;

    width: 71px;
    height: 24px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.drop_btn>span{
    width: 51px;
    height: 24px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/*Footer*/
footer{
    width: 1280px;
    height: 496px;
    top: 86%;
    padding-bottom: 57px;
    position: absolute;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.long_cat{
    position: absolute;
    left: 44.92%;
    right: 44.93%;
    top: 80.04%;
    bottom: 9.88%;

    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../src/svg/long cat.svg");
}

.footer_items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    position: absolute;
}

.ad_create{

    position: absolute;
    left: 34.69%;
    right: 34.69%;
    top: 73.59%;
    bottom: 23.19%;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #6A6A6A;
}

.social{
    position: absolute;
    left: 34.69%;
    right: 34.69%;
    top: 52.62%;
    bottom: 32.86%;
}

.soc_txt{
    position: absolute;
    left: 34.69%;
    right: 34.69%;
    top: 52.62%;
    bottom: 44.15%;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #6A6A6A;
}

.soc_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    gap: 8px;

    position: absolute;
    left: 42%;
    right: 44.69%;
    top: 59.07%;
    bottom: 32.86%;
}

.soc_container>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;

    width: 40px;
    height: 40px;

    border: 1px solid #EFD8C3;
    border-radius: 2px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.insta{
    width: 40px;
    height: 40px;

    border: 1px solid #EFD8C3;
    border-radius: 2px;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/png/Union.png");
}

.vk{
    width: 40px;
    height: 40px;

    border: 1px solid #EFD8C3;
    border-radius: 2px;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/vk.svg");
}

.whatsapp{
    width: 40px;
    height: 40px;

    border: 1px solid #EFD8C3;
    border-radius: 2px;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/whatsapp.svg");
}

.footer_btn{
    box-sizing: border-box;
    width: 228px;
    height: 40px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    color: #ff7e00;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    position: absolute;
    left: 41.09%;
    right: 41.09%;
    top: 38.1%;
    bottom: 53.83%;

    background: #FFFFFF;
    border: 1px solid #EFD8C3;
    border-radius: 2px;
}

.footer_btn:hover{
    background: #ff7e00;
    color: #FFFFFF;
}

.free_call{
    position: absolute;
    left: 34.69%;
    right: 34.69%;
    top: 31.65%;
    bottom: 65.12%;

    font-family: 'IBM Plex Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #6A6A6A;
}

.number{
    position: absolute;
    left: 34.69%;
    right: 34.69%;
    top: 24.4%;
    bottom: 69.15%;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #1A1E29;
}

.footer_border{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 99.8%;

    z-index: 1;
}

.secret{
    left: 0;
    right: 0;
    top: 0;
    bottom: 80.44%;

    background-image: url("../src/svg/Secret.svg");
}

.footer_logo{
    width: 64px;
    height: 64px;

    position: absolute;
    left: 47.5%;
    right: 47.5%;
    top: 3.43%;
    bottom: 83.67%;
    padding-top: 2%;

    background: url("../src/svg/Logo_footer.svg") no-repeat center center;
}

li{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    list-style-type: none;
    padding-bottom: 16px;

    width: 184px;
    height: 16px;
}

.list_title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ff7e00;
    padding: 0;
}

.l_1{
    left: 2.19%;
    right: 83.44%;
    top: 11.29%;
    bottom: 0;
}

.l_2{
    left: 18.44%;
    right: 67.19%;
    top: 11.29%;
    bottom: 32.26%;
}

.l_3{
    left: 67.19%;
    right: 18.44%;
    top: 11.29%;
    bottom: 12.9%;
}

.l_4{
    left: 83.44%;
    right: 2.19%;
    top: 11.29%;
    bottom: 64.52%;
}

/*Main*/
.main_container{
    display: grid;
    grid-template-rows: 544px 792px 720px 600px 400px;
    padding: 0;
    gap: 40px;

    width: 1224px;
    height: 3216px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main_container>div{
    display: grid;
}

.main_container>div>h2{
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */

    color: #1A1E29;

    text-align: center;
}

/*Ad*/
.ad{
    position: absolute;
    width: 1280px;
    height: 384px;
    left: 0;
    top: 80px;

    background-image: url("../src/png/Rectangle 43.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.ad_switch{
    position: absolute;
    left: 2.19%;
    right: 96.56%;
    top: 26.04%;
    bottom: 59.9%;
}

.ad_btn{
    left: 47.42%;
    right: 42.97%;
    top: 45.83%;
    bottom: 43.75%;
}

.ad_text{
    position: absolute;
    left: 47.66%;
    right: 5.47%;
    top: 16.67%;
    bottom: 58.33%;
}

.ad_text_1{
    font-family: 'IBM Plex Sans', sans-serif;
    position: absolute;
    width: 480px;
    height: 48px;
    margin: 0;

    color: #FFFFFF;
    background-color: #ff7e00;
}

.ad_text_2{
    font-family: 'IBM Plex Sans', sans-serif;
    position: absolute;
    width: 210px;
    height: 48px;
    top: 50%;
    margin: 0;

    color: #FFFFFF;
    background: #FF7E00;
}

/*Selection*/
.selection{
    position: absolute;
    width: 1340px;
    height: 201px;
    left: -30px;
    top: 320px;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/tires_brands.svg");
}

.selection_btn{
    left: 41.34%;
    right: 41.34%;
    top: 63.68%;
    bottom: 16.42%;
}

.selection_text{
    position: absolute;
    left: 26.19%;
    right: 26.49%;
    top: 7.96%;
    bottom: 76.12%;
    margin: 0;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */


    color: #1A1E29;
}

.selection_dpdwn_1{
    left: 12.09%;
    right: 74.18%;
    top: 35.82%;
    bottom: 44.28%;
}

.selection_dpdwn_2{
    left: 27.61%;
    right: 58.66%;
    top: 35.82%;
    bottom: 44.28%;
}

.selection_dpdwn_3{
    left: 43.13%;
    right: 43.13%;
    top: 35.82%;
    bottom: 44.28%;
}

.selection_dpdwn_4{
    left: 58.66%;
    right: 27.61%;
    top: 35.82%;
    bottom: 44.28%;
}

.selection_dpdwn_5{
    position: absolute;
    left: 74.18%;
    right: 12.09%;
    top: 35.82%;
    bottom: 44.28%;
}

.selection_hr{
    width: 1224px;

    position: absolute;
    left: 4.33%;
    right: 4.33%;
    top: 99.5%;
    bottom: 0;

    background: #E5E5E5;
}

/*Popular*/
.popular{
    grid-template-rows: 48px 392px 40px;
    gap: 32px;
}

.popular>button{
    justify-self: center;

    width: 202px;
    height: 40px;
}

.pop_btn{
    display: flex;
    justify-content: center;
}

.popular>.pop_btn{
    display: flex;
    flex-direction: row;
}

.popular>.cards{
    grid-template-columns: 392px 392px 392px;
    gap: 24px;
}

/*Cards*/
.cards{
    flex: none;
    display: grid;
}

/*Wheels*/
.wheels{
    grid-template-rows: 48px 47px 568px 40px;
    gap: 24px;
}

.wheels_switch{
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/Tabs.svg");
}

.wheels>.cards{
    grid-template-columns: 288px 288px 288px 288px;
    gap: 24px;
}

/*Disks*/
.disks{
    grid-template-rows: 48px 568px 40px;
    gap: 32px;
}

.disks>.cards{
    grid-template-columns: 288px 288px 288px 288px;
    gap: 24px;
}

/*Sales*/
.sales{
    grid-template-rows: 48px 448px 40px;
    gap: 32px;
}

.sales>.cards{
    grid-template-columns: 392px 392px 392px;
    gap: 24px;
}

/*About*/
.about{
    grid-template-columns: 600px 592px;
    gap: 32px;
}

.about_img{
    background: url("../src/png/Rectangle 53.png") no-repeat center center;
}

.about_logo{
    position: absolute;
    width: 112px;
    height: 120px;
    left: 24px;
    top: 2816px;
}

.about_main{
    display: grid;
    grid-template-rows: 328px 40px;
    gap: 24px;
}

.am_text{
    display: grid;
    grid-template-rows: 144px 168px;
    gap: 16px;
}

.am_title{
    margin: 0;
}

.am_disc1{
    width: 592px;
    height: 168px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #6A6A6A;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.am_disc2{
    width: 592px;
    height: 168px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #6A6A6A;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/*Cards*/
.card_1{
    box-sizing: border-box;
    width: 392px;
    height: 392px;

    position: absolute;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
}

.card_1:hover{
    position: absolute;
    /* hover */

    background: #FFFFFF;
    border: 1px solid #FF7E00;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 4px rgba(172, 85, 0, 0.08)) drop-shadow(0px 8px 32px rgba(255, 126, 0, 0.16));
}

.card_1>.card_1_img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30.61%;
    z-index: 1;

    background: url("../src/png/card_image2.png");
}

.card_1_tongue{
    position: absolute;
    left: 0.26%;
    right: 0.26%;
    top: 44.8%;
    bottom: -8.33%;
    z-index: 2;

    border-radius: 8px;

    background-image: url("../src/svg/card_tongue.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.card_1_title{
    position: absolute;
    left: 8.16%;
    right: 8.16%;
    top: 67.35%;
    bottom: 24.49%;

    z-index: 3;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */


    color: #1A1E29;
}

.card_1_time{
    z-index: 3;
    position: absolute;
    left: 8.16%;
    right: 87.76%;
    top: 79.59%;
    bottom: 16.33%;
}

.card_1_price{
    z-index: 3;
    position: absolute;
    left: 8.42%;
    right: 87.5%;
    top: 87.76%;
    bottom: 8.16%;
}

.time_text{
    position: absolute;
    left: 14.29%;
    right: 8.42%;
    top: 79.59%;
    bottom: 16.33%;

    z-index: 3;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #6A6A6A;
}

.price_text{
    position: absolute;
    left: 14.54%;
    right: 8.16%;
    top: 87.76%;
    bottom: 8.16%;

    z-index: 3;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #6A6A6A;
}

.card_2{
    position: absolute;
    width: 288px;
    height: 568px;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
}

.card_2:hover{
    border: 1px solid #FF7E00;
    border-radius: 2px;
}

.card_2_img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 49.3%;

    background-repeat: no-repeat;
    background-position: center center;
}

.card_2_img1{
    background-image: url("../src/png/Rectangle 52.png");
}

.card_2_img2{
    background-image: url("../src/png/Rectangle 51.png");
}

.card_2_title{
    position: absolute;
    width: 224px;
    height: 144px;
    left: 32px;
    top: 304px;

    display: grid;
    grid-template-rows: 16px 96px 16px;
    gap: 8px;
}

.card_2_reviews{
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/Rating+reviews.svg");
}

.card_2_text>h3{
    font-family: 'IBM Plex Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0;
    /* or 133% */


    color: #1A1E29;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.card_2_stat{
    background-repeat: no-repeat;
    background-position: left center;
}

.card_2_stat1{
    background-image: url("../src/svg/Icon.svg");
}

.card_2_stat2{
    background-image: url("../src/svg/Frame 7.svg");
}

.card_2_bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    position: absolute;
    width: 224px;
    height: 72px;
    left: 32px;
    bottom: 32px;
}

.bottom_up{
    width: 14em;
    height: 1em;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #6A6A6A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom_down{
    display: grid;
    grid-template-columns: 168px 40px;
    gap: 16px;

    width: 224px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.bottom_btn{
    width: 168px;
    height: 40px;
}

.bottom_fav{
    width: 40px;
    height: 40px;

    border: 1px solid #EFD8C3;
    border-radius: 2px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../src/svg/hearth_button.svg");
}

.card_3{
    box-sizing: border-box;
    width: 392px;
    height: 392px;

    position: absolute;

    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
}

.card_3:hover{
    position: absolute;
    /* hover */

    background: #FFFFFF;
    border: 1px solid #FF7E00;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 4px rgba(172, 85, 0, 0.08)) drop-shadow(0px 8px 32px rgba(255, 126, 0, 0.16));
}

.card_3_img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30.61%;
    z-index: 1;

    background: url("../src/png/Rectangle 50.png");
}

.card_3_tongue{
    position: absolute;
    left: 0.26%;
    right: 0.26%;
    top: 44.8%;
    bottom: -8.33%;
    z-index: 2;

    border-radius: 8px;

    background-image: url("../src/svg/card_tongue.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.card_3_header{
    display: grid;
    grid-template-rows: 4em 16px;
    gap: 8px;

    position: absolute;
    width: 328px;
    height: 88px;
    left: 32px;
    top: 264px;
}

.ch_top{
    width: 328px;
    height: 4em;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */


    color: #1A1E29;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    z-index: 2;
}

.ch_bottom{
    background: no-repeat left center url("../src/svg/Frame 8.svg");
    z-index: 2;
}

.card_3_time{
    position: absolute;
    height: 16px;
    left: 8.16%;
    right: 87.76%;
    bottom: 16px;

    z-index: 2;
}

.c3t_text{
    position: absolute;
    height: 16px;
    left: 14.29%;
    right: 61.99%;
    bottom: 16px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #6A6A6A;
}

.c3t_date{
    position: absolute;
    height: 16px;
    left: 40.05%;
    right: 40.56%;
    bottom: 15.5px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */


    color: #1A1E29;
}